In [1]:
import pandas as pd
import streamlit as st
import plotly.express as px

In [5]:
df = pd.read_csv("/Users/reejungkim/Documents/Git/Heroku_deployment/Streamlit/listings.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,50904,aplace/antwerp: cosy suite - fashion district,234077,Karin,NaN,Historisch Centrum,51.21858,4.39850,Hotel room,145,1,1,2015-05-06,0.02,4,265
1,116134,Trendy Vacation Apartment Antwerp,586942,Paul,NaN,Eilandje,51.23051,4.40593,Entire home/apt,150,2,99,2020-02-16,0.98,1,314
2,224333,Large stylish room in 1930s house + garden,1167377,Geert,NaN,Deurne Zuid West,51.19772,4.45853,Private room,16,14,1,2011-09-19,0.01,2,353
3,224682,APARTMENT ROSCAM - OLD CENTRE ANTWERP,1263933,Kristien,NaN,Sint-Andries,51.21722,4.39790,Entire home/apt,105,2,336,2020-03-08,3.31,1,325
4,328911,Large Modern Apt W Great Park Views,1263814,Tinne,NaN,Stadspark,51.21078,4.41050,Entire home/apt,55,15,59,2019-10-30,0.58,1,2

@st.cache
def get_data():
    url = "http://data.insideairbnb.com/united-states/ny/new-york-city/2019-09-12/visualisations/listings.csv"
    return pd.read_csv(url)
df = get_data()

In [6]:
st.title('AIRBNB')
st.markdown('vizualization')

st.header('this is header')
st.markdown('markdown')

In [7]:
st.dataframe(df.head())

In [8]:
st.table(df.groupby("room_type").price.mean().reset_index()\
.round(2).sort_values("price", ascending=False)\
.assign(avg_price=lambda x: x.pop("price").apply(lambda y: "%.2f" % y)))